*{

}
.otpInput{
    width: 20px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    font-size:18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
}
.colr{
    background-color:#e3e8e9;
    width:190px;
    padding: 15px;
    margin: auto;
}
.colr>input{
    color:gray;
}
.grays{
    background-color: rgb(189, 168, 168);
    width:190px;
    padding: 15px;
    margin: auto;
}